<div class="main">
	<div class="table-utilisateur">
		<p-table #tableUtilisateurDG
				 (onRowUnselect)="onUnseletedRow()"
				 [(selection)]="utilisateurSelected"
				 [value]="utilisateurs"
				 class="custom-table"
				 dataKey="id"
				 selectionMode="single"
				 sortField="nom"
				 [paginator]="true" [rows]="7" [showCurrentPageReport]="true"
				 currentPageReportTemplate="Utilisateur {first} à {last} sur {totalRecords} utilisateurs">
			<ng-template pTemplate="colgroup">
				<colgroup>
					<col class="colgroup-code">
					<col class="colgroup-nom">
					<col class="colgroup-prenoms">
					<col class="colgroup-contact">
					<col class="colgroup-email">
					<col class="colgroup-role">
					<col class="colgroup-entreprise">
					<col class="colgroup-equipe">
					<col class="colgroup-actions">
				</colgroup>
			</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th>Code</th>
					<th pSortableColumn="nom">
						Nom
						<p-sortIcon field="nom"></p-sortIcon>
					</th>
					<th pSortableColumn="prenoms">
						Prénoms
						<p-sortIcon field="prenoms"></p-sortIcon>
					</th>
					<th>Contact</th>
					<th>e-mail</th>
					<th>Rôle</th>
					<th>Entreprise</th>
					<th>Équipe</th>
					<th>Actions</th>
				</tr>
				<tr>
					<th>
						<input #inputCode pInputText
							   class="table-filter"
							   type="text"
							   (input)="tableUtilisateurDG.filter(inputCode.value, 'code', 'contains')">
					</th>
					<th>
						<input #inputNom pInputText
							   class="table-filter"
							   type="text"
							   (input)="tableUtilisateurDG.filter(inputNom.value, 'nom', 'contains')">
					</th>
					<th>
						<input #inputPrenoms pInputText
							   class="table-filter"
							   type="text"
							   (input)="tableUtilisateurDG.filter(inputPrenoms.value, 'prenoms', 'contains')">
					</th>
					<th>
						<input #inputContact pInputText
							   class="table-filter"
							   type="text"
							   (input)="tableUtilisateurDG.filter(inputContact.value, 'contact', 'contains')">
					</th>
					<th>
						<input #inputEmail pInputText
							   class="table-filter"
							   type="text"
							   (input)="tableUtilisateurDG.filter(inputEmail.value, 'email', 'contains')">
					</th>
					<th>
						<input #inputRole pInputText
							   class="table-filter"
							   type="text"
							   (input)="tableUtilisateurDG.filter(inputRole.value, 'role', 'contains')">
					</th>
					<th>
						<input #inputEntreprise pInputText
							   class="table-filter"
							   type="text"
							   (input)="tableUtilisateurDG.filter(inputEntreprise.value, 'entreprise', 'contains')">
					</th>
					<th>
						<input #inputEquipe pInputText
							   class="table-filter"
							   type="text"
							   (input)="tableUtilisateurDG.filter(inputEquipe.value, 'equipe', 'contains')">
					</th>
					<th></th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-utilisateur>
				<tr [ngClass]="{'selected': utilisateur.code == utilisateurSelected?.code}" [pSelectableRow]="utilisateur">
					<td class="code">{{ utilisateur.code }}</td>
					<td class="">{{ utilisateur.nom }}</td>
					<td class="">{{ utilisateur.prenoms }}</td>
					<td class="contact">{{ utilisateur.contact }}</td>
					<td class="">{{ utilisateur.email }}</td>
					<td class="role">{{ utilisateur.role }}</td>
					<td class="">{{ utilisateur.entreprise?.raisonSociale }}</td>
					<td class="">{{ utilisateur.equipe?.designation }}</td>
					<td class="">
						<div class="actions">
							<p-button class="btn-transparent" (click)="ouvrirModalModification(utilisateur)">
								<em class="fa fa-edit"></em>
							</p-button>
							<p-button class="btn-transparent" (click)="confimerSuppression(utilisateur)">
								<em class="fa fa-trash"></em>
							</p-button>
							<p-button class="btn-transparent" *ngIf="!hasCode(utilisateur)" (click)="genererCodeUtilisateur(utilisateur)">
								<em class="fa fa-refresh"></em>
							</p-button>
						</div>

					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr class="empty-message">
					<td colspan="9">Aucun utilisateur trouvé</td>
				</tr>
			</ng-template>
		</p-table>
	</div>

	<p-footer>
		<p-button class="btn-orange"
				  label="Créer"
				  icon="fa fa-user-plus"
				  (click)="ouvrirModalCreation()">
		</p-button>
		<p-button class="btn-orange"
				  label="Modifier"
				  icon="fa fa-edit"
				  [disabled]="!isUtilisateurSelected()"
				  (click)="ouvrirModalModification()">
		</p-button>
		<p-button class="btn-orange"
				  label="Supprimer"
				  icon="fa fa-trash"
				  [disabled]="!isUtilisateurSelected()"
				  (click)="confimerSuppression()">
		</p-button>
	</p-footer>
</div>

<app-utilisateur-modal [(visible)]="showModal"
					   [action]="actionModal"
					   (onCreated)="listerUtilisateurs()"
					   [(utilisateur)]="utilisateurSelected">
</app-utilisateur-modal>

<p-confirmDialog #supprimerUtilisateur
				 header="Confirmation"
				 [style]="{height: '12vw'}"
				 icon="pi pi-exclamation-triangle">
	<ng-template pTemplate="footer">
		<p-button class="btn-orange" type="button" icon="pi pi-times" label="Non" (click)="supprimerUtilisateur.reject()"></p-button>
		<p-button class="btn-orange" type="button" icon="pi pi-check" label="Oui" (click)="supprimerUtilisateur.accept()"></p-button>
	</ng-template>
</p-confirmDialog>
