body {
	margin: 0;

	/**********************************************
	* Global
	**********************************************/
	.main {
		padding: 1rem;
	}

	input {
		&:focus {
			border: solid 1px #E67E30 !important;
			outline: 0 none;
			outline-offset: 0;
			box-shadow: inset 0 0 0 1px #E67E30 !important;
		}

		&:hover:not(.custom-input) {
			border: solid 1px #E67E30 !important;
		}

		&.custom-input {
			border-top: unset;
			border-left: unset;
			border-right: unset;
			border-bottom: solid 1px #E67E30 !important;
			border-radius: unset;
			width: 100%;

			&:focus {
				border-top: unset !important;
				border-left: unset !important;
				border-right: unset !important;
				box-shadow: unset !important;
			}
		}
	}

	p-inputMask.custom-input {
		input {
			&.p-inputtext {
				border-top: unset;
				border-left: unset;
				border-right: unset;
				border-bottom: solid 1px #E67E30 !important;
				border-radius: unset;
				width: 100%;

				&:focus, &:hover {
					border-top: unset !important;
					border-left: unset !important;
					border-right: unset !important;
					box-shadow: unset !important;
				}
			}
		}
	}

	.p-float-label input:focus ~ label {
		color: #757575 !important;
	}

	.two-col {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.three-col {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	p-button {
		.p-button {
			min-width: 8rem;
			font-weight: bold;
		}

		&.btn-orange {
			.p-button {
				background: #E67E30 !important;
				color:  #ffffff !important;
				border: unset !important;

				&:focus {
					box-shadow: unset;
				}
			}
		}

		&.btn-transparent {
			width: 1px;
			.p-button {
				background: transparent !important;
				border: unset !important;
				color:  #ffffff !important;
				min-width: 1px !important;
				padding-left: 1px;
			}
		}

		&.btn-transparent {
			background: transparent !important;
			border: unset !important;
			color:  #ffffff !important;
		}

		&.btn-blanc {
			.p-button {
				background: #ffffff !important;
				color: #E67E30 !important;
				border-color: #E67E30 !important;
			}
		}
	}

	p-footer {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		position:absolute;
		bottom:0;
		width: 90%;
		height: 3rem;
	}

	/**********************************************
	* Table
	**********************************************/
	.custom-table {
		.table-filter {
			width: 90%;
			text-align: center;
		}

		tbody {
			tr {
				&.p-selectable-row:hover, &.p-selectable-row.selected.p-highlight {
					background: #E67E30 !important;
					color: #ffffff !important;

					.actions {
						color: #ffffff !important;
					}
				}

				.actions {
					display: grid;
					color: transparent;
					cursor: pointer;

				}
			}

			.empty-message td {
				text-align: center;
			}
		}
	}

	/**********************************************
	* Tabview
	**********************************************/
	p-tabView {
		.p-tabview-nav {
			margin-top: 2rem;
			justify-content: center;
		}

		.p-tabview {
			.p-tabview-nav {
				.p-tabview-nav-link{
					&:hover {
						border-color: #E67E30 !important;
						color: #E67E30 !important;
					}
					&:focus {
						border: unset !important;
						box-shadow: unset !important;
					}
				}

				li.p-highlight {
					.p-tabview-nav-link{
						background: #E67E30;
						color: #ffffff;
						border-color: transparent;
						&:hover {
							color: #ffffff !important;
						}
					}
				}
			}
		}
	}

	/**********************************************
	* Modal
	**********************************************/
	.p-dialog-header {
		border-bottom: 1px #d9d9d9 solid !important;
	}

	.p-dialog-footer {
		border-top: 1px #d9d9d9 solid !important;
		height: 4rem;
		p-footer {
			grid-template-columns: repeat(2, 1fr);
			width: 30%;
			right: 1rem;
		}
	}
}
